* {
    margin: 0;
    padding: 0;
}

.wrapper {
    box-shadow: 0 5px 30px whitesmoke;
    width: 375px;
    height: 812px;
    margin: 50px auto 0 auto;
    
}

.return {
    padding: 20px;
    font-size: 15pt;
}

.return i:hover {
    color: lightgray;
}


.findroad {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    height: 100px;
}


.location button {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    margin: 17px 10px;
    width: 60px;
    height: 25px;
    font-size: 11pt;
}

.busstop span {
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    font-size: 11pt;
    text-align: center;
}


.savebus {
    margin: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.savebus button {
    border: none;
    background-color: white;
    padding: 5px 15px;
    font-size: 15pt;
}

.busstopSearch {
    margin: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid lightgray;
}


.busstopSearch i {
    padding: 10px;
}

.info span{
    margin: auto;
    text-align: center;
}